<% if owner.blank? %>
    <strong>No se encontró el owner indicado!</strong>
<% elsif view == 'index' %>

  <li>
    <b>Owner:</b> <%= owner.name %> <%= link_to 'Go to Owners Page', owner %>
  </li>

<% else %>
  <div>
    <p><b>Name</b> <%= owner.name %> </p>
    <p><b>Email</b> <%= owner.email %> </p>
    <p><b>Age</b> <%= owner.age %> </p>
    <p><b>Created Date</b> <%= owner.created_at %> </p>
    <p><b>Updated Date</b> <%= owner.updated_at %> </p>
  </div>
<% end %>