<section>

  <% if flash[:notice].present? %>
    <div class='flash flash-notice'>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if @animal.blank? %>
    <strong>No se encontró el animal indicado!</strong>
  <% else %>
    <h1>Animal:</h1>
    <p><b>Age</b> <%= @animal.age %> </p>
    <p><b>Color</b> <%= @animal.color %> </p>
    <p><b>Weight</b> <%= @animal.weight %> </p>
    <p><b>Specie</b> <%= @animal.species %> </p>
    <p><b>Created Date</b> <%= @animal.created_at %> </p>
    <p><b>Updated Date</b> <%= @animal.updated_at %> </p>

    <h2>
      Associated Pets
    </h2>
    <ul>
      <% @animal.pets.each do |pet| %>
        <li>
          <strong>
            Pet:
          </strong>
          <span>
            <%= pet.name %>
          <span>
            -
          <span>
            <b>Adopted:</b>
          <span>
          <% if pet.adoption_date.present? %>
            <span style="color: green">
              Yes
            </span>
          <% else %>
            <span style="color: orange">
              No
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>