<!DOCTYPE html>
<html>
  <head>
    <title>AdopPetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "navbar" %>
    <%= stylesheet_link_tag "footer" %>
  </head>

  <body>
    <%= render template: 'layouts/menus/navbar' %>

    <%= yield %>

    <%= render template: 'layouts/menus/footer' %>
  </body>
</html>
